/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #23385C, #4A76C2,#1BD1F9);
    color: white;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    position: relative;
  }
  
  .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
  }
  
  h1 {
    margin-top: 50px;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  main {
    margin: 50px 0;
    position: relative;
  }
  
  .airplane-container {
    position: relative;
    width: 100%;
    height: 600px;
  }
  
  .path {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .airplane {
    position: center;
    width: 700px;
    
  }
  
  .quote {
    margin-top: 20px;
    font-size: 16px;
    font-style: italic;
  }
  
  
  
  footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.icon {
    width: 200px;
    
}

 
  
  