body{
    background: linear-gradient(to bottom, #23385C, #4A76C2,#1BD1F9);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
.containertotal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
  .airplane-container {
    position: relative;
    width: 100%;
    height: 70vh;
  }
  
  .airplane {
    width: 150px;
    height: auto;
    
    position: absolute;
    offset-path: path('M 0,200 C 100,100 300,50 600,100 S 900,200 1200,150');
    offset-rotate: auto;
    animation: fly 4s ease-in-out infinite;
    filter: brightness(0) saturate(100%) invert(26%) sepia(48%) saturate(2207%) hue-rotate(203deg) brightness(85%) contrast(88%);
}
  
  @keyframes fly {
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 100%;
    }
  }
  
  .quote {
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    width: 60%; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  
  header {
    text-align: center;
    padding: 100px;
    color: white;
  }
  
  .logo {
    max-width: 200px;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 50px;
  }
  
  
  footer {
    position: absolute;
    bottom: -105px;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    padding: 0 5px; 
  }
  
  
  .icon {
    width: 300px;
    height: auto;
    margin-bottom: -62px;
  }
  .next-button:hover {
    transform: scale(1.1);
}


.text{
    font-family:Arial, Helvetica, sans-serif;
    color:#ffffff;
    font-size:  40px;
    margin-left: 180px;
    margin-right: 0%;
    margin-top: -100px;
    text-shadow: 2px 2px 4px rgba(58, 73, 245, 0.5);
    
}
.text h1{
    align-items: center;
    white-space: nowrap; 
}
